.btn {
    background-color: #222;
    color: #FFF;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 2px 3px 18px 0px rgba(155,144,144,1);
}

.btn:hover{
    color: #ffbb33;
}