.navbar {
    display: flex;
    background-color: #222;
    padding: 1em;
    width: 100%;
    font-size: small;
    box-shadow: 0px 8px 20px -6px rgba(155,144,144,1);
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
    border-bottom: #ffbb33 solid;
}

.img {
    width: 120px;
    margin-right: 3em;
}